# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
env/
env312/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# ML models & datasets
*.h5
*.pkl
*.pt
*.pth
*.onnx
data/
datasets/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
